@model IEnumerable<sang.Models.NgoaiNgu>

@{
    ViewBag.Title = "Index";
}

<h2>Ngoại ngữ</h2>

<p>
    @Html.ActionLink("Thêm ngoại ngữ mới", "Create")
    <a href="@Url.Action("Index", "AddHome")">Quay lại menu Quản lý </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenNgoaiNgu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenNgoaiNgu)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.MaNgoaiNgu }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.MaNgoaiNgu })
        </td>
    </tr>
}

</table>
